<p>To: <%= @institution.email %></p>
<% @barcodes.in_groups_of(2).each { |group| -%>
  <p>
  <% group.each { |code| -%>
    <% unless code.nil? -%>
      <img src="/barcode/<%= @institution.id %>/<%= code %>"> 
    <% end -%>
  <% } -%>
  </p>
<% } -%>

